.venv
.csv
source-code/resources/formatted_transactions.csv
source-code/resources/HI-Small_accounts.csv
source-code/resources/HI-Small_Trans.csv
source-code/resources/LI-Small_accounts.csv
source-code/resources/LI-Small_Trans.csv
*.csv